<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kpstv.xcipper.feature_suggestions">

    <!-- Required to launch :BubbleService -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <service android:name="com.kpstv.xclipper.service.BubbleService" />
    </application>
</manifest>