<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kpstv.xclipper.feature_xcopy">

    <application>
        <activity
            android:name="com.kpstv.xclipper.ui.activities.TextSelectionActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/xcopy"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>

</manifest>