*.iml
*.apk
.gradle
/modules/core-private/
/app/common
/app/update
/local.properties
/gradle.properties
google-services.json
/updater/
/keystore.properties
/key.jks
/buildSrc/build
/buildSrc/.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
play_config.json