<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kpstv.xclipper.feature_special">

    <application>
        <activity
            android:name="com.kpstv.xclipper.ui.activities.SpecialActions"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/CustomDialogStyle.Dark" />
        <activity
            android:name="com.kpstv.xclipper.ui.activities.QRDialog"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/TranslucentTheme.Dark" />
    </application>
</manifest>