<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kpstv.xclipper.feature_quicksettings">

    <application>
        <service
            android:name="com.kpstv.xclipper.service.TileService"
            android:exported="true"
            android:icon="@drawable/ic_logo_white"
            android:label="@string/quick_settings_save_clip"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>