<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kpstv.xclipper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- TODO: Remove foreground and SAW permission if unused. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:name=".XClipperApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.Settings"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.activities.Splash" />
        <activity android:name=".ui.activities.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dialogs.TagDialog"
            android:excludeFromRecents="true"
            android:theme="@style/CustomDialogStyle.Dark" />
        <activity
            android:name=".ui.dialogs.SpecialDialog"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/CustomDialogStyle.Dark" />
        <activity
            android:name=".ui.dialogs.EditDialog"
            android:excludeFromRecents="true"
            android:theme="@style/CustomDialogStyle.Dark" />
        <activity
            android:name=".service.ChangeClipboardActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".ui.activities.Silent"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <!-- TODO: Check this orientation stuff-->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity
            android:name=".service.TextSelectionActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/xcopy"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name=".service.TestActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="Paste from clipboard"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.PASTE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ClipboardAccessibilityService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/clip_service" />
        </service>

        <service
            android:name=".service.TileService"
            android:icon="@drawable/ic_clip"
            android:label="Save Clip"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service android:name=".service.BubbleService" />

        <receiver android:name=".service.AppBroadcastReceiver" />
    </application>

</manifest>