html {
  background: linear-gradient(45deg, #232531, #232531);
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(45deg, #232531, #232531);
  background-attachment: fixed;
  padding: 20;
  line-height: 1.7;
  color: white;
  height: 100vh;
  font-weight: 300;
}
.card {
  margin: 5px;
  background-color: #1b1d24;
  color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  background-color: #2e3141;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
.site-footer {
  margin-top: 80px;
  padding: 4em 0;
  background: #1b1d24;
}

.title {
  letter-spacing: 5px;
  background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
  background: -o-linear-gradient(left, #c70039, #ff5733 70%);
  background: linear-gradient(to right, #c70039, #ff5733 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* font-size: 100px;
        font-size: 6vw; */
}

.title1 {
  margin-top: 60px;
  letter-spacing: 5px;
  background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
  background: -o-linear-gradient(left, #c70039, #ff5733 70%);
  background: linear-gradient(to right, #c70039, #ff5733 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.watch-span {
  position: relative;
  font-size: 17px;
  text-decoration: none;
}
.watch-span:hover {
  color: #ff5733;
  cursor: pointer;
}
.watch-span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  top: 30px;
  background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.watch-span:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.github-btn {
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  color: whitesmoke;
  font-family: sans-serif;
  background: -webkit-linear-gradient(top, #515670, #393d4f 70%);
}
.github-btn:hover {
  background: -webkit-linear-gradient(top, #383b4d, #2e3141 70%);
}

.subtitle {
  font-size: 22px;
}
.smalltitle {
  font-size: 17px;
  margin-top: 5px;
}
.smalltitle1 {
  font-size: 15px;
}
hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #2d303b; /* old IE */
  background-color:#2d303b; * Modern Browsers */
}
#purchaseSection {
}
/* Mobile screens */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 40px;
    letter-spacing: 3px;
  }
  .title1 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .subtitle {
    font-size: 17px;
    margin-top: 10px;
  }
  .smalltitle {
    font-size: 14px;
  }
  .forkContainer {
    margin-top: 120px;
  }
  .mainContainer {
    margin-top: 70px;
    margin-left: 5px;
  }
}

/* Large mobile screens */
@media only screen and (min-width: 600px) {
  .title {
    font-size: 40px;
  }
  .title1 {
    font-size: 35px;
    letter-spacing: 3px;
  }
  .forkContainer {
    margin-top: 150px;
  }
  .mainContainer {
    margin-top: 90px;
  }
}

/* Tablet screens */
@media only screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
  .title1 {
    font-size: 35px;
    letter-spacing: 3px;
  }
  .forkContainer {
    margin-top: 140px;
  }
  .mainContainer {
    margin-top: 80px;
  }
}

/* Laptop/Desktop screens */
@media only screen and (min-width: 992px) {
  .title {
    font-size: 100px;
  }
  .title1 {
    font-size: 75px;
    letter-spacing: 3px;
  }
  .forkContainer {
    margin-top: 120px;
  }
  .mainContainer {
    margin-top: 80px;
  }
  .watch-span {
    font-size: 18px;
  }
  section {
    height: 100vh;
  }
  hr {
    height: 0px;
  }
}
