<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kpstv.update">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Disabled because of Google Play, we'll see if we need to enable it in future -->
<!--    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />-->

    <application>
        <receiver
            android:name=".internals.UpdaterBroadcast"
            android:exported="false" />
    </application>
</manifest>