<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kpstv.xclipper.core_pinlock">

    <application>
        <activity
            android:name="com.kpstv.xclipper.ui.activities.CustomPinLockActivity"
            android:exported="false"
            android:theme="@style/PinModuleTheme" />
        <activity
            android:name="com.kpstv.xclipper.ui.dialog.PinGrantDialog$PinGrantDialogActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@style/TranslucentTheme.Dark" />

        <receiver
            android:name="com.kpstv.xclipper.service.receiver.PinGrantScreenLockReceiver"
            android:exported="false" />
    </application>
</manifest>